@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #002F49;
    --secondary: #4b8bbe;
    --success: #08c074;
    --danger: #f65252;
    --warning: #ff7d00;
    --accent: #D54E21;
    --primary-text-color: #041822;
    --secondary-text-color: #F8FBFD;
    --border: #E2E9F6;
    --grey: #59676e;
}


body {
    margin: 0;
    padding: 0;
}
  