.container {
    padding: 0 1.5em;
}
.section {
    display: flex;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
  }
  
  .title {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
  }
  
  .sortContainer {
    display: flex;
    align-items: center;
  }
  
  .sortLabel {
    margin-right: 10px;
    font-size: 14px;
  }
  
  .sortDropdown {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
  }
  .viewProfile {
    color: var(--primary);
    text-decoration: underline var(--primary);
  }
  