@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #002F49;
    --secondary: #2ecc71;
    --danger: #e74c3c;
    --warning: #f1c40f;
    --info: #1abc9c;
    --light: #ecf0f1;
    --dark: #34495e;
}


body {
    margin: 0;
    padding: 0;
}
  