.landingPage {
  background-color: var(--landing-page-background-color);
}

.navWrapper {
    z-index: 999;
    position: sticky;
    width: 100%;
    top: 0;
  }

  
  /* TOP PAGE SECTION */
  .topPage {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 19px;
    background-color: #e2e9f6;
    line-height: 17px;
    padding: .95em;
  }
  
  .topPageText {
    color: #4b8bbe;
    margin-right: 5px;
    word-spacing: 0.001em;
  }
  
  .topPagePricing {
    color: #002f49f5;
    margin-left: 5px;
    text-decoration: underline;
    text-decoration-color: #04182254;
  }


  
  /* NAV SECTION */
  .navContainer {
    background-color: #4b8bbe;
    padding: .3em 0;
  }
  
  .logoIcon {
    margin: 0;
    width: 17em;
    height: 5em;
  }
  .navBar {
    display: flex;
    justify-content: space-between;
    margin: 0 55px;
    align-items: center;
  }
  
  .navBar a {
    text-decoration: none;
    color: #f8fbfdde;
    font-size: 17px;
    font-weight: 400;
  }
  
  .navLinks {
    display: flex;
    list-style: none;
  }
  
  .navLinks > li {
    margin-right: 2em;
  }
  
  .navActions {
    display: flex;
    align-items: center;
  }
  
  .navActions > .logIn {
    display: flex;
    justify-content: center;
    margin-right: 25px;
    align-items: center;
  }
  
  .navActions a {
    font-weight: 700;
    margin-right: 10px;
    font-size: 18px;
  }
  .hamburger {
    display: none;
  }
  
  /* Responsive Navbar Screen */
  @media (max-width: 1200px) {
    .navBar {
      display: flex;
      justify-content: space-between;
      margin: 0 55px;
      align-items: center;
    }
    .navBar a {
      font-size: 1em;
    }
    .logoIcon {
      width: 16em;
      height: 4em;
    }
    
    .navLinks > li {
      margin-right: .8em;
    }
    .navActions > .logIn {
      display: flex;
      justify-content: center;
      margin-right: 15px;
      align-items: center;
    }
    
    .navActions a {
      font-weight: 700;
      margin-right: 10px;
      font-size: 18px;
    }
  }
  @media (max-width: 1000px) {
    .logoIcon {
      width: 14em;
      height: 3.6em;
    }
    .navLinks{
      display: none;
    }
    .navActions {
      margin-left: auto;
      margin-right: 10px;
    }
    .hamburger {
      display: block;
      cursor: pointer;
      font-size: 24px;
      color: #f8fbfdde;
    }
  }
  @media (max-width: 768px) {
    .navLinks, .navActions {
      display: none;
    }
    .navBar {
      margin: 0 25px;
    }
    
    /* Show the hamburger icon */
    .hamburger {
      display: block;
      cursor: pointer;
      font-size: 24px;
      color: #f8fbfdde;
    }

    .topPage {
      display: block;
      text-align: center;
      font-size: large;
    }
    .topPageText {
      margin-bottom: .5em;
    }
  }
  
  /* Styles for the mobile navigation menu */
  
  .mobileMenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #4b8bbe;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
  }
  
  .mobileMenu.show {
    display: flex;
  }
  
  .mobileMenu a {
    font-size: 16px;
    font-weight: 500;
    margin: 10px 0;
    color: #f8fbfdde;
  }
  
/* End Nav bar session */


/* Hero section */
  .hero {
    background-color: #002f49ef;
    color: white;
    margin: 35px 55px;
    /* height: 500px; */
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    padding-top: 90px;
    overflow-x: hidden;
  }
  
  .heroSmallText {
    background-color: rgb(64, 135, 173, 0.3);
    padding: 10px 8px;
    border-radius: 10px;
    font-size: 14px;
    color: #f8fbfdd2;
  }
  
  .heroBigText {
    font-size: 50px;
    margin: 0;
    margin-top: 20px;
    width: 75%;
    text-align: center;
  }
  
  .heroMediumText {
    font-size: 20px;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: 500;
    width: 60%;
    text-align: center;
  }
  
  .dashboardSvg {
    margin-top: 2em;
    width: 80%;
    height: 30%;
  }

   /* Responsive Hero Screen */
  @media (max-width: 768px) {
      .hero {
        margin: 35px 25px;
        padding: 1em;
        padding-top: 6em;
        padding-bottom: 0;
      }

      
      .heroBigText {
        font-size: 50px;
        line-height: 56px;
        width: 100%;
      }
      
      .heroMediumText {
        width: 60%;
        line-height: 28px;
        margin: 2em 0;
      }
      .dashboardSvg {
        margin-top: 2.5em;
        width: 80%;
        height: 30%;
      }
  }

  /* End Hero Section */

  /* Start Trusted Section*/

  .trusted {
    margin: 55px;
    margin-top: 75px;
    overflow-x: hidden;
  }
  
  .trusted h2 {
    font-size: 21px;
    font-weight: 500;
    color: #041822;
    text-align: center;
    margin-bottom: 12px;
  }
  
  .schools {
    display: flex;
    justify-content: space-between;
  }
  
  .schoolImage__text {
    display: flex;
    align-items: center;
  }
  
  .schoolImage__text > div {
    max-width: 380px;
    width: 100%;
    color: #59676e;
    font-size: 1.5em;
    font-weight: 500;
    margin-left: 6px;
    text-wrap: wrap;
  }

  .schoolImage {
    width: 2.8em;
    height: 2.8em;
  }
  
   /* Responsive Trusted Screen */
   @media (max-width: 1200px) {
    .schools {
      width: 100%;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 20px;
    }
   }
   @media (max-width: 1000px) {
     
   }
   @media (max-width: 768px) {
    .trusted {
      margin: 25px;
      margin-top: 75px;
    }
    .schools {
      flex-direction: column;
    }
    .schoolImage__text {
      margin-top: 1em;
      gap: 15px;
      align-items: flex-end;
    }
    .schoolImage {
      width: 2.6em;
      height: 2.6em;
    }
   }
 
  /* End Trusted Section */

  /* Start Call Action One */

  .callActionOne {
    display: flex;
    align-items: center;
    margin: 55px;
    overflow-x: hidden;
    margin-top: 50px;
    margin-bottom: 0px;
  }
  
  .actionLeft {
    width: 50%;
  }
  
  .actionLeft h2 {
    font-size: 2.5em;
    line-height: 49px;
    font-weight: 600;
    color: #041822;
    margin-bottom: .6em;
  }
  
  .actionLeft p {
    font-size: 20px;
    line-height: 30px;
    color: #59676e;
    width: 97%;
  }
  
  .actionRight {
    flex: 1;
    display: flex;
    align-items: center;
    margin-left: 35px;
    justify-content: center;
  }
  .actionContainerWrapper {
    position: relative;
    height: 500px;
    width: 500px;
    transform: scale(.96);
  }
  
  .actionRightContainer {
    height: 95%;
    width: 95%;
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    flex-direction: column;
    /* justify-content: center; */
    z-index: 3;
    background-color: #fafafb;
    padding: 2em;
  }
  
  .actionRightContainerBefore {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    background-color: var(--primary);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
  }
  
  .circleImg {
    position: absolute;
    bottom: -10px;
    left: -50px;
  }
  
  .bottomDetails {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;
  }
  
  .labelContainer {
    display: flex;
    align-items: center;
  }
  .dot1 {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #4b8bbe;
    margin-right: 3px;
  }
  .dot2 {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #041822;
    margin-right: 3px;
  }
  .dot3 {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #E2E9F6;
    margin-right: 3px;
  }
  
  
  .detailLabel {
    font-size: 0.875rem;
    color: #6c757d;
  }
  
  .detailValue {
    font-size: 1rem;
    font-weight: 500;
    margin-top: .5em;
    color: #000;
  }
  
   /* Responsive Call Action One Screen */
   @media (max-width: 1200px) {
    /* .callActionOne {
      flex-direction: column-reverse;
      margin: 25px;
      margin-top: 120px;
      gap: 150px;
    } */
     .actionLeft {
      width: 70%;
      margin-right: 5em;
     }
    
    
   }
   @media (max-width: 1000px) {
    .actionLeft {
      width: 60%;
     }
    
    /* .actionRightContainerAfter {
      transform: scale(.8);
    }
    .actionRightContainerBefore {
      transform: scale(.8)
      translate(-10%, -10%);
      top: 0;
      left: 0;
    } */
   }
   @media (max-width: 898px) {
    .callActionOne {
      flex-direction: column-reverse;
      margin-top: 120px;
      gap: 150px;
    }
    .actionLeft {
      align-self: flex-start;
      width: 100%;
    }
    
    .actionLeft h2 {
      font-size: 1.8em;
      line-height: 49px;
      font-weight: 600;
      margin: 0;
      color: #041822;
      margin-bottom: .7em;
    }
   
   }
   @media (max-width: 768px) {
    .callActionOne {
      margin: 25px;
      flex-direction: column-reverse;
      margin-top: 120px;
      gap: 150px;
    }
    .actionLeft {
      align-self: flex-start;
      width: 100%;
    }
    
    .actionLeft h2 {
      font-size: 1.8em;
      line-height: 49px;
      font-weight: 600;
      margin: 0;
      color: #041822;
      margin-bottom: .7em;
    }
    @media (max-width: 750px) {
      
  .dot1 {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #4b8bbe;
    margin-right: 3px;
  }
  .dot2 {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #041822;
    margin-right: 3px;
  }
  .dot3 {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #E2E9F6;
    margin-right: 3px;
  }
  
  .detailItem {
    margin: 5px;
  }
  .detailLabel {
    font-size: 0.75rem;
    color: #6c757d;
  }
  
  .detailValue {
    font-size: .8rem;
    font-weight: 500;
    margin-top: .2em;
  }
    }
   }
   @media (max-width: 591px) {
    .actionContainerWrapper {
      transform: scale(.9);
    }
   }
   @media (max-width: 540px) {
    .actionContainerWrapper {
      transform: scale(.7);
    }
   }
   @media (max-width: 510px) {
    .actionContainerWrapper {
      transform: scale(0.68);
    }
   }
   @media (max-width: 470px) {
    .actionContainerWrapper {
      transform: scale(0.64);
    }
   }
   @media (max-width: 390px) {
    .callActionOne, .actionLeft, .actionRight {
      margin-top: 0;
      margin-bottom: 0;
    }
    .actionContainerWrapper {
      transform: scale(0.57);
    }
   }
   @media (max-width: 333px) {
    .callActionOne, .actionLeft, .actionRight {
      margin-top: 0;
      margin-bottom: 0;
      overflow-x: hidden;
    }
    .actionContainerWrapper {
      transform: scale(0.45);
    }
   }
  
  /* End Call Action One */

  /* Start Features */

  .features {
    margin: 55px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    overflow-x: hidden;
  }
  
  .features > h2 {
    font-size: 36px;
    line-height: 49px;
    font-weight: 700;
    color: #4b8bbe;
    width: 60%;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .features > p {
    font-size: 20px;
    color: #59676e;
    width: 50%;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
  }
  
  .blockSectionOne {
    display: flex;
    gap: 15px;
    margin-bottom: 25px;
  }
  
  .blockSectionTwo {
    display: flex;
    gap: 15px;
  }
  
  .block {
    background-color: #f8fbfd;
    padding: 10px 20px;
    border-radius: 20px;
  }
  
  .block > div {
    display: flex;
    border-bottom: 1px solid #e2e9f6;
    padding: 1px 0;
  }
  
  .block > div > h2 {
    font-size: 20px;
    font-weight: 600;
    margin-left: 8px;
  }
  
  .block > p {
    font-size: 16px;
    color: #59676e;
  }
  .blockSectionOne .featuresImage {
    height: 14em;
    width: 50em;
  }
  .blockSectionTwo .featuresImage {
    height: 14em;
    width: 50em;
  }
  /* Responsive Features Screen */
  @media (max-width: 1200px) {
    
  }
  @media (max-width: 1100px) {
    .features > h2 {
      font-size: 36px;
      line-height: 49px;
      font-weight: 700;
      color: #4b8bbe;
      width: 80%;
      text-align: center;
      margin-bottom: 20px;
    }
    
    .features > p {
      font-size: 20px;
      color: #59676e;
      width: 95%;
      text-align: center;
      margin-top: 0;
      margin-bottom: 50px;
    }
    .blockSectionOne {
      margin: 0 25px;
      display: flex;
      width: 100%;
      padding: 10px 20px;
      overflow: hidden;
      gap: 15px;
      margin-bottom: 25px;
    }
    
    .blockSectionTwo {
      width: 100vw;
      width: 100%;
      gap: 10px;
    }
    .block {
      width: 50vw;
    }
    .blockTwo {
      width: 90vw
    }
  }
  @media (max-width: 768px) {
    .features {
      margin: 25px;
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-top: 100px;
    }
    
    .features > h2 {
      width: 95%;
    }
    .features > p {
      color: rgb(175, 187, 196);
      width: 98%;
    }
    .blockSectionOne {
      margin: 0 25px;
      display: flex;
      width: 100%;
      padding: 10px 20px;
      overflow: hidden;
      gap: 15px;
      margin-bottom: 25px;
    }
    
    .blockSectionTwo {
      width: 100vw;
      width: 100%;
      gap: 10px;

    }
    .block {
      width: 50vw;
    }
    .blockTwo {
      width: 100vw
    }
  }
  @media (max-width: 600px) {
    .block {
      width: 80vw;
    }
  }

  /* End Features */

  /* Start Call Action Two */
.callActionTwo {
  display: flex;
  margin: 55px;
  align-items: center;
  gap: 3.5em;
  margin-top: 120px;
  overflow-x: hidden;
}

.actionTwoLeft {
  width: 45%;
}

.backCircle {
  padding: 5.5em;
  border-radius: 50%;
  background: var(--primary);
  position: relative;
}
.conImage {
  transform: translateY(20px);
}
.floatingCard {
  padding: .8em 1.2em;
  padding-right: 2em;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
}

.cardPrice {
  display: flex;
  align-items: center;
}

.floatingCardOne {
  position: absolute;
  background: white;
  transform: rotate(5deg)
  translate(-5em, -8em)
  ;

}

.loaderOne {
  width: 10em;
  height: 4px;
  margin: .5em 0;
  background-color: var(--border);
}
.loaderOne .inner {
  width: 30%;
  height: 4px;
  background-color: var(--warning);
}

.loaderTwo {
  width: 10em;
  height: 4px;
  margin: .5em 0;
  background-color: var(--border);
}
.loaderTwo .inner {
  width: 30%;
  height: 4px;
  background-color: var(--success);
}
.floatingCard h4 {
  font-size: 1.3em;
  font-weight: 500;
  margin: 0.5rem 0;
  color: var(--primary-text-color);
}

.floatingCard p {
  color: var(--primary-text-color);
  font-weight: 500;
}


/* Percentage styling */
.percentage {
  font-size: .6em;
  font-weight: 500;
}

.negative {
  margin-left: 5px;
  color: #E90808;
  background-color: #e908081c;
  padding: .1em .3em;
  border-radius: 40%;
}

.positive {
  margin-left: 5px;
  background-color: #08c07326;
  color: #08C074;
  padding: .1em .3em;
  border-radius: 40%;
}

.floatingCardTwo {
  position: absolute;
  background: white;
  transform: rotate(-5deg)
  translate(21.2em, -10em)
  ;
}
.actionTwoLeft h2 {
  font-size: 36px;
  line-height: 49px;
  color: #041822;
  margin-bottom: .7em;
}

.actionTwoLeft p {
  font-size: 20px;
  line-height: 30px;
  color: #59676e;
  width: 97%;
}

.actionTwoRight {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 50px;
}

/* Responsive Action Two Screen */
@media (max-width: 1200px) {
  .floatingCardTwo {
    position: absolute;
    background: white;
    transform: rotate(-5deg)
    translate(180px, 1em)
    ;
  }
}
@media (max-width: 1000px) {
  
}
@media (max-width: 898px) {
}

@media (max-width: 898px) {
  .floatingCardTwo {
    position: absolute;
    background: white;
    transform: rotate(-5deg)
    translate(21.2em, -10em)
    ;
  }
  .callActionTwo {
    flex-direction: column;
    margin-top: 100px;
  }
  .actionTwoLeft {
    width: 100%;
  }
  .actionTwoLeft h2 {
    font-size: 36px;
    line-height: 49px;
    width: 100%;
    color: #041822;
    margin-bottom: .7em;
  }
  
  .actionTwoLeft p {
    font-size: 20px;
    line-height: 30px;
    color: #59676e;
    width: 97%;
  }
}

@media (max-width: 768px) {
  .callActionTwo {
    margin: 25px;
  }
}

  /* End Call Action Two */



  /* Start Pricing Plan */

.pricingContainer {
  background-color: white;
  margin: 0 55px;
  padding: 2em;
}
.flexCol {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.itemsCenter {
  align-items: center;
}
.textCenter {
  text-align: center;
}

/* Title and subtitle */
.title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.subtitle {
  color: #6b7280;
  margin-bottom: 1.5rem;
}

/* Toggle styling */
.toggleWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  gap: 1rem;
}
/* .activeToggleText {
  color: #1d4ed8;
  cursor: pointer;
}
.inactiveToggleText {
  color: #6b7280;
  cursor: pointer;
} */
.toggleSwitch {
  position: relative;
  display: flex;
  align-items: center;
  height: 1.4rem;
  width: 3rem;
  border-radius: 9999px;
  border: 1px solid var(--grey);
  cursor: pointer;
}
.toggleBall {
  position: absolute;
  height: 1rem;
  width: 1rem;
  background-color: var(--primary);
  border-radius: 9999px;
  transition: transform 0.3s ease;
}
.translateRight {
  transform: translate(1.5rem, -.1rem );
}
.translateLeft {
  transform: translate(.2rem, -.1rem);
}
.discountBadge {
  color: var(--secondary-text-color);
  background-color: var(--secondary);
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  border-radius: 9999px;
}

/* Pricing grid and cards */
.pricingGrid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.planCard {
  border: 1px solid #9EAFD1;
  border-radius: 29px;
  padding: 1.5rem;
  width: 33.33%;
  /* max-width: 400px; */
  display: flex;
  background-color: #e2e9f641;
  flex-direction: column;
  align-items: flex-start;
  height: 650px;
}


/* Text styles */
.planTitle {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.planDescription {
  color: var(--grey);
  margin-bottom: 1rem;
}
.priceContainer {
  display: flex;
  align-items: flex-end;
  margin-bottom: 2em;
}
.price {
  font-size: 32px;
  font-weight: 700;
  color: var(--primary-text-color);
  margin-bottom: 0.5rem;
}
.priceLabel {
  color: #6b7280;
  margin-left: 10px;
  margin-bottom: 1rem;
}

.lineDivider {
  width: 100%;
  margin: 2em 0;
  border-bottom: 1px solid var(--grey);
}
.featuresTitle {
  font-weight: 600;
  color: var(--primary-text-color);
  font-size: 20px;
  margin-bottom: 1.3em;
}
.featureList {
  color: #6b7280;
  list-style-type: none;
  padding: 0;
}

.featureList li {
  display: flex;
  margin-bottom: 1em;
}

.checkList {
  width: 30px;
  height: 30px;
  margin-right: .5em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
  background-color: var(--primary);
}

/* Premium Top */

.premiumCard {
  background-color: var(--border);
  height: 700px;
  color: #fff;
  padding: 0;
  overflow: hidden;
}
.premiumTop {
  width: 100%;
  padding: 2em;
  padding-top: 3em;
  padding-bottom: 8.2em;
  height: 1000px;
  background-color: var(--primary);
}

.premiumBottom {
  background-color: var(--border);
  width: 100%;
  padding: 2em;
  padding-top: 4.7em;
  border-top-left-radius: 180px;
  border-top-right-radius: 180px;
  transform: translateY(-180px);
}

.premiumTop p {
  color: white;
}

@media (max-width: 1308px) {
  .pricingGrid {
    flex-direction: column;
   
  }
  .planCard {
    max-width: 400px;
    width: 100%;
  }
  .cardTop {
    width: 100%;
  }
  
}
  /* End Pricing Plan */

  /* Start How it Works */
  .howItWorks {
    position: relative;
    padding: 50px;
    text-align: center;
    overflow-x: hidden;
  }
  
  /* Title and subtitle */
  .title {
    font-size: 36px;
    color: #4b8bbe;
    margin-bottom: 10px;
  }
  
  .subtitle {
    font-size: 20px;
    color: #041822;
    margin-bottom: 40px;
  }

  .topCircles {
    display: flex;
    justify-content: space-between;
  }
  .circleContainer {
    width: 25%;
    display: flex;
  }
  
  /* Steps list */
  .steps {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
  } 
  
  .stepItem {
    border-radius: 8px;
    flex: 1;
    max-width: 300px;
    min-width: 220px;
    text-align: left;
    position: relative;
  }
  
  .circle {
    background-color: #002f49;
    color: white;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border-radius: 50%;
    font-size: 40px;
  }
  
  .joiningLineR {
    flex: 1;
    height: 50%;
    align-self: center;
    background: linear-gradient(
      to top right,
      transparent calc(50% - 1px),
      #f8fbfd,
      transparent calc(50% + 1px)
    );
  }
  
  .joiningLine {
    flex: 1;
    height: 50%;
    align-self: center;
    background: linear-gradient(
      to top left,
      transparent calc(50% - 1px),
      #f8fbfd,
      transparent calc(50% + 1px)
    );
  }
  
  .circle.even {
    background-color: #4b8bbe;
    margin-top: 50px;
  }
  
  /* Line connecting circles */
 .stepUp {
  transform: translateY(-50px);
 }
  
  /* Step title */
  .stepItem h4 {
    margin-top: 30px;
    font-size: 20px;
    color: #041822;
  }
  
  /* Step description */
  .stepItem p {
    margin-top: 10px;
    color: #041822;
    font-size: 16px;
    line-height: 30px;
  }
  .steps p{
    width: 95%;
  }
   /* Responsive How It Works Screen */
   @media (max-width: 1200px) {
    .steps p{
      width: 90%;
    }
   }
   @media (max-width: 1000px) {
    .howItWorksFlow {
      width: max-content;
      gap: 100px;
    }
   }
   @media (max-width: 768px) {
    
    .howItWorksFlow {
       width: max-content;
     }
   }
 
  
  /* End How It Works */



  /* Start Faq Section */
  .faqPage {
    display: flex;
    justify-content: space-between;
    margin: 55px;
    overflow-x: hidden;
  }
  
  /* FAQ section */
  .faqSection {
    flex: 1;
  }
  
  .faqSection h2 {
    font-size: 36px;
    color: #041822;
    margin-bottom: 10px;
  }
  
  .faqSection p {
    font-size: 20px;
    line-height: 30px;
    color: #59676e;
    margin-bottom: 20px;
  }
  
  /* FAQ list */
  .faqList {
    list-style: none;
    padding: 0;
    width: 100%;
  }
  
  .faqItem {
    padding: 15px 0;
    margin-bottom: 15px;
    width: 90%;
    cursor: pointer;
  }
  
  .faqItem.active {
    background-color: #dfe9f3;
  }
  
  .faqQuestion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    color: #041822;
  }
  
  .faqIcon {
    border: 2px solid #002f49;
    width: 20px;
    height: 20px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #002f49;
    text-align: center;
  }
  
  .faqAnswer {
    margin-top: 10px;
    color: #59676e;
    font-size: 16px;
    line-height: 24px;
  }

    /* Responsive Faq Screen */
    @media (max-width: 1200px) {
      .faqList {
        flex: 1;
      }
      .contactCard {
        width: 40%;
      }
    }
    @media (max-width: 1000px) {
      
    }
    @media (max-width: 898px) {
  
      .faqPage {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
      }
      .faqSection {
        width: 100%;
      }
      .contactCard {
        max-width: 600px;
        width: 100%;
      }
    }
    @media (max-width: 768px) {
  
      .faqPage {
        margin: 25px;
      }
    }
    
    
  
  /* Contact card */
  .contactCard {
    background-color: #0e3a60;
    color: white;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    margin-top: 150px;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
  }
  
  .avatarGroup {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 15px;
  }
  
  .avatarGroup .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: -15px;
  }
  
  .avatarGroup .center {
    z-index: 998;
    width: 60px;
    border-radius: 50%;
    margin-right: -15px;
    height: 60px;
    transform: translateY(-5px);
  }
  
  .contactCard h3 {
    margin: 0;
    margin-top: 30px;
    color: #f8fbfd;
    font-weight: 500;
    font-size: 20px;
  }
  
  .contactCard p {
    margin: 0;
    font-size: 17px;
    margin-top: 8px;
    margin-bottom: 25px;
    line-height: 28px;
    font-weight: 400;
    color: #f8fbfde3;
  }
  

  /* End Faq Section */

/* Start Question Screen */
.questionAndAnswer {
  width: 100%;
  margin: 0 55px;
}

.questionAndAnswer h2 {
  font-size: 36px;
  color: #041822;
  margin-bottom: 10px;
  text-align: center;
}

.questionAndAnswer p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  color: black;
  margin-bottom: 20px;
  text-align: center;
}

/* quest list */
.questList {
  list-style: none;
  padding: 0;
  width: 100%;
}

.questItem {
  padding: 15px 0;
  margin-bottom: 15px;
  width: 90%;
  cursor: pointer;
}

/* .questItem.active {
  background-color: #dfe9f3;
} */

.questQuestion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: #041822;
}

.questIcon {
  border: 2px solid #002f49;
  width: 20px;
  height: 20px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #002f49;
  text-align: center;
}

.questAnswer {
  margin-top: 10px;
  color: #59676e;
  font-size: 16px;
  line-height: 24px;
}

@media (max-width: 898px) {
  .questionAndAnswer {
    width: 100%;
    margin: 0 25px;
  }
}

/* End Question Screen */

  /* Start Privacy Policy Screen */
/* PrivacyPolicy.module.css */

.privacyPolicyContainer {
  padding-top: 2.5rem; /* py-10 */
  padding-bottom: 2.5rem;
  margin-left: 55px;
  margin-right: 55px;
  overflow-x: hidden;
}

.privacyPolicyContent {
  display: flex;
  width: 100%;
}

.topPrivacy {
  text-align: center;
  color: var(--primary-text-color); /* text-gray-600 */
  font-size: 19px;
  margin-bottom: 1rem;
}

.header {
  text-align: center;
  font-size: 1.875rem; /* text-3xl */
  font-weight: 700; /* font-bold */
  margin-bottom: 1.5rem;
  margin-top: 0;
}

.subHeader {
  text-align: center;
  color: var(--grey); /* text-gray-600 */
  font-size: 20px;
  margin-bottom: 2rem;
}

.tableOfContents {
  width: 30%;
  max-width: 1000px;
  margin-right: 2.5rem;
}

.policyContent {
  flex: 1;
}

.tableOfContentsTitle {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #1a1a1a;
}

.listItems {
  list-style-type: decimal;
  padding-left: 1.25rem;
  font-size: 19px;
  color: var(--primary-text-color); /* text-gray-700 */
}

.sectionTitle {
  font-size: 1.5rem; /* text-2xl */
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--primary-text-color);
}

.sectionContent {
  color: var(--primary-text-color);
  margin-bottom: 2.5rem;
  font-size: 19px;
}

.subSectionTitle {
  font-weight: 600;
  margin-top: 0.5rem;
}
.sectionContent p{
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 20px;
}

.listDisc {
  list-style-type: disc;
  padding-left: 1.25rem;
}

/* Responsive Privacy Policy */
@media (max-width: 768px) {
  .privacyPolicyContainer {
    margin: 0 25px;
  }
  
  .privacyPolicyContent {
    display: block;
    width: 100%;
  }
  .tableOfContents {
    width: 100%;
    margin-bottom: 2em;
  }
  .policyContent {
    width: 100%;
  }
  .subHeader {
    width: 100%;
  }
}

/* End Privacy Policy Section */

  
  /* Start Take Control */

  .takeControl {
    background-color: #0e1e2f;
    padding: 100px;
    background-image: linear-gradient(#0e1e2f 0%, #1a3b5d 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 55px;
    border-radius: 15px;
    overflow-x: hidden;
  }
  
  .takeControl h2 {
    font-size: 36px;
    text-transform: capitalize;
    margin-bottom: 0;
    line-height: 49px;
    text-align: center;
    color: #f8fbfd; /* Bright white for the heading */
  }
  
  .takeControl p {
    text-transform: capitalize;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 40px;
    width: 60%;
    font-weight: 400;
    text-align: center;
    color: #f8fbfd; /* Slightly off-white for the paragraph text */
  }

    /* Responsive Take Control Screen */
  @media (max-width: 1200px) {
    .takeControl p {
      width: 70%; /* Slightly off-white for the paragraph text */
    }
  }
  @media (max-width: 1000px) {
    
  }
  @media (max-width: 768px) {
    .takeControl {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 25px;
      margin: 25px;
      margin-top: 80px;
    }
    .takeControl h2 {
      font-size: 36px;
      text-align: center;
      margin-top: 40px;
      width: 90%;
      line-height: 49px;
      color: #f8fbfd; /* Bright white for the heading */
    }
    .takeControl p {
      font-size: 20px;
      width: 80%;
      text-align: center;
      color: #f8fbfd;
    }
  }
  
  /* End Take Control */



  /* Start Footer */

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4b8bbe; /* Light blue background matching the image */
    text-align: center;
    margin-top: 50px;
    padding: 20px 55px;
    overflow-x: hidden;
  }

  .hLine {
    width: 100%;
    border-bottom: 1px solid white;
  }
  
  .footer ul {
    list-style: none;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 40px;
  }
  
  .footer ul li {
    display: inline;
    margin: 0 20px;
  }
  
  .footer ul li a {
    color: #f8fbfd;
    text-decoration: none;
    font-size: 18px;
  }
  
  .footer p {
    font-size: 20px;
    color: #f8fbfd;
  }
  
  .footer .footerBottom {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
  }
  
  .footer .socials {
    display: flex;
  }
  
  .footer .socialItem {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #002f49;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px;
  }
  
  .footer .socials img {
    width: 25px;
    height: 25px;
    margin: 0 10px;
    cursor: pointer;
  }

    /* Responsive Footer Screen */
    @media (max-width: 1200px) {
    
    }
    @media (max-width: 1000px) {
      
    }
    @media (max-width: 768px) {
      .footer {
        padding: 20px 25px;
      }
      .footer ul {
        display: flex;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        line-height: 35px;
      }
      .footer .footerBottom {
        flex-direction: column;
        margin-top: 40px;
        align-items: center;
        line-height: 45px;
      }
    }
  
  /* End Footer */