/* LandingPageButton.module.css */

/* General Button Adjustments for All Sizes */
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2em;
  padding: .8em 2em;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

/* Button Text Adjustments */
.btn {
  border: none;
  font-size: 1em;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 1px;
  white-space: nowrap;
}

/* LIGHT VARIANT */
.light {
  background-color: #f5f5f5;
}

.btnLight {
  background-color: #f5f5f5;
  color: #002f49e3;
}

/* DARK VARIANT */
.dark {
  background-color: rgb(0, 47, 73);
}

.btnDark {
  background-color: rgb(0, 47, 73);
  color: #f8fbfd;
}

/* Hover Effects */
.button:hover {
  transform: scale(1.05);
}

.arrowIcon {
  margin-left: .9em;
}
/* Responsive Adjustments */
@media (max-width: 1200px) {
  .button {
  padding: .7em 1.2em;
  }
  .btn {
    border: none;
    font-size: .8em;
    font-weight: 600;
  }
}
@media (max-width: 768px) {
  .button {
    width: 100%;
    padding: 14px 16px;
  }

  .btn {
    font-size: 16px;
    letter-spacing: 0.8px;
  }
}

@media (max-width: 480px) {
  .button {
    padding: 12px;
    border-radius: 1.5em;
  }

  .btn {
    font-size: 14px;
  }
}
