/* styles/TransactionReceiptModal.module.css */

.overlay {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.5); /* bg-black bg-opacity-50 */
    z-index: 50;
  }
  
  .modal {
    height: 100vh;
    overflow-y: scroll;
    background-color: white;
    width: 100%;
    max-width: 32rem; /* max-w-lg */
    margin: 0 1rem;
    border-radius: 0.75rem; /* rounded-xl */
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1); /* shadow-lg */
    padding: 2em 2.5em;
    padding-bottom: 4em;
    position: relative;
    -webkit-overflow-scrolling: touch;
  }
  
  .modal::-webkit-scrollbar {
    display: none;
  }

  .closeButton {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: #9ca3af; /* text-gray-400 */
    background: none;
    border: none;
    font-size: 2.2rem; /* text-xl */
    cursor: pointer;
  }
  
  .closeButton:hover {
    color: #4b5563; /* text-gray-600 */
  }
  .receiptIcon {
    margin: 2em 0;
  }
  
  .modalTitle {
    font-size: 1.25rem; /* text-xl */
    font-weight: 600; /* font-semibold */
    margin-bottom: 0.5rem; /* mb-2 */
  }
  
  .modalSubtitle {
    color: #6b7280; /* text-gray-500 */
    margin-bottom: 1.5rem; /* mb-6 */
  }
  
  .transactionSummary {
    border: 1px solid #e5e7eb; /* border-gray-200 */
    border-radius: 0.5rem; /* rounded-lg */
    padding: 1rem;
    margin-bottom: 1.5rem; /* mb-6 */
    display: flex;
  }
  
  .transactionIcon {
    margin-right: 15px;
  }
  .transactionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.25rem; /* mb-1 */
  }
  
  .transactionText {
    font-weight: 500; /* font-medium */
  }
  
  .transactionAmount {
    color: #16a34a; /* text-green-600 */
    font-weight: 700; /* font-bold */
    font-size: 1.125rem; /* text-lg */
  }
  
  .transactionType {
    font-size: 0.875rem; /* text-sm */
    color: #6b7280; /* text-gray-500 */
  }
  
  .transactionDetails,
  .recipientDetails {
    margin-bottom: 1.5rem; /* mb-6 */
  }
  
  .sectionTitle {
    font-size: 1rem; /* text-md */
    font-weight: 600; /* font-semibold */
    color: #374151; /* text-gray-700 */
    margin-bottom: 0.75rem; /* mb-3 */
  }
  
  .detailRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.75rem; /* space-y-3 */
  }
  
  .detailLabel {
    font-weight: 500; /* font-medium */
    color: #4b5563; /* text-gray-600 */
  }
  
  .detailValue {
    color: #1f2937; /* text-gray-800 */
  }
  
  .downloadButton {
    margin-top: 2rem;
    width: 100%;
    background-color: var(--primary); /* bg-blue-600 */
    color: white;
    padding: 0.5rem 0; /* py-2 */
    border: none;
    border-radius: 2rem; /* rounded-lg */
    font-weight: 500; /* font-medium */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
  }

  .downloadIcon {
    margin-left: .5em;
  }
  
 